<div class="container">
  <h1>SendHub Coding Challenge App</h1>
  <hr />

  <div id="title">
    <h3>Contacts</h3>
    <a href="/new" class="btn btn-primary">Add New Contact</a>
  </div>

  <!-- Contacts -->
  <div id="contacts">
<!--     <div id="new-contact">

    <div> -->
    <div class="contactContainer">

    </div>
  </div>

  <!-- Send Message -->
  <div id="send-message" >

  </div>

</div>