<div class="container">
  <h1>SendHub Coding Challenge App</h1>
  <hr />

  <div id="title">
    <h3>Contacts</h3>
  </div>

  <!-- Contacts -->
  <div id="contact-box">

  </div>

  <!-- Add/Edit Contact or Send Message -->
  <div id="add-edit-form" >

  </div>

</div>