<div class="container">
  <h1>SendHub Coding Challenge App</h1>
  <hr />

  <div id="title">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="new-contact-name" placeholder="Contact Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="new-contact-number" placeholder="Phone Number">
      </div><br>
      <button type="submit" id="add" class="btn btn-primary"> + New Contact</button>
    </form>
    <h3>Contacts</h3>
  </div>

  <!-- Contacts -->
  <div id="contacts">
<!--     <div id="new-contact">

    <div> -->
    <div class="contactContainer">
      <table class="table table-hover">

      </table>
    </div>
  </div>

  <!-- Send Message -->
  <div id="send-message" >

  </div>

</div>